span {
    display: flex;
    padding: 1em;
    
}

.row {
    padding: 1em;
}

#temp, #wind, #humidity {
    display: flex;
}

#uv {
    display: flex;
}

#uv h4 {
    background-color: red;
}

button {
    border-style: solid;
    text-align: center;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    background-color: lightblue;
    margin: 5px;
    
}

div .row {
    justify-content: center;
}

h5 {
    padding-right: 1em;
}


